.App {
  background: url("https://pixabay.com/get/g6f7933301179c072b25e14a81ae286f666b660249a10eb18ba9f1312a7514b540402432146507a4abf4cb046e9b7165a400c0b5bc3215e01545298e699e46835_1920.jpg");
  display: block;
  position: relative;
}
